/* ======  custom Fonts =====*/
@font-face {
  font-family: Alexandria;
  src: url("/public/fonts/Alexandria-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: Alexandria;
  src: url("/public/fonts/Alexandria-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: Alexandria;
  src: url("/public/fonts/Alexandria-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: Alexandria;
  src: url("/public/fonts/Alexandria-Light.ttf");
  font-weight: 100;
}
/* ======  custom Fonts =====*/

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191b1f;
  direction: rtl;
}
.iconButton:hover {
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
  background-color: #c5c5c5 !important;
}
.iconButton,
.todoCard,
.addButton {
  transition: all 0.2s !important;
}
.todoCard:hover {
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
}
.addButton:hover {
  background-color: #1562af;
  box-shadow: 0px 7px 7px rgb(0, 0, 0, 0.4);
}
